<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
  <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.min.css">
  <title>index</title>
  <style>
      #myModal2 .modal-dialog {
          width: 300px;
      }
      .category-list{
          display: none;
      }
  </style>
</head>
<body>
  <div class="header">
    <div class="header-menu pull-left">
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <div class="header-back pull-right">
      <span class="glyphicon glyphicon-log-out back"></span>
  </div>
  </div>
  <div class="menu">
    <div class="brand pull-left">极客营</div>
    <div class="head">
      <img src="./image/default.png" width="100">
      <p>超级管理员</p>
      <div class="menu-list">
          <div class="list user"><i class="glyphicon glyphicon-user"></i><span>用户管理</span></div>
          <div class="category">
                <div class="category-head">
                  <i class="glyphicon glyphicon-align-justify"></i><span>分类管理</span>
                </div>
                <div class="category-list">
                    <p class="category_one">一级分类</p>
                    <p class="category_two">二级分类</p class="category_one">
                </div>
          </div>
          <div class="list goods"><i class="glyphicon glyphicon-tag"></i><span>商品管理</span></div>
      </div>
  </div>
  </div>
  <div class="content">
    <div class="bread">
      <ol class="breadcrumb">
        <li><a href="index.html">管理系统</a></li>
        <li class="active">商品管理</li>
      </ol>
    </div>
    <button type="button" class="btn btn-default add" style="margin:20px 0 10px 10px;">添加商品</button>
    <table class="table table-bordered user-table">
      <thead>
        <tr>
          <th class="">序号</th>
          <th class="">商品名称</th>
          <th class="">商品描述</th>
          <th class="">商品库存</th>
          <th class="">商品尺寸</th>
          <th class="">商品状态</th>
          <th class="">操作</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="page pull-right" style="margin-right:30px;">
      <ul class="pagination"></ul>
  </div>
  </div>
  <div>
    <div class="modal fade" tabindex="-1" id="myModel1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">添加商品</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="second-name">请选择二级分类</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu select">
                  </ul>
              </div>
                <div class="form-group">
                  <input type="hidden" name="brandId" class="brandId">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="proName" placeholder="请输入商品名称" style="margin-top:28px;">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="proDesc" id="message-text" placeholder="请输入商品描述"></textarea>
              </div>
              <div class="form-group">
                <input type="number" name="num" class="form-control" placeholder="请输入商品库存">
              </div>
              <div class="form-group">
                <input type="text" name="size" class="form-control" placeholder="请输入商品尺码">
              </div>
              <div class="form-group">
                <input type="text" name="oldPrice" class="form-control" placeholder="请输入商品原价">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="price" placeholder="请输入商品现价">
              </div>
              <div class="form-group">
                  <label class="btn btn-default" for="fileupload">上传图片</label>
                  <input type="file" multiple id='fileupload' name="pic1" data-url="/product/addProductPic" style="display:none;">
              </div>
              <div class="form-group img">
                  <input type="hidden" name="picStatus">
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default cancel" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">添加</button>
            <input type="reset" class="reset" style="display:none;">
          </div>
        </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div>
  </div>
     <!-- 模态框（Modal） -->
     <div>
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                  温馨提示
              </h4>
            </div>
            <div class="modal-body" style="color:brown">
              <span class="glyphicon glyphicon-pencil
              "></span>您确定要退出后台管理系统吗？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消
              </button>
              <button type="button" class="btn btn-primary" id="go-back">
                退出
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
     </div>
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="./lib/nprogress/nprogress.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="./lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="./lib/jquery-fileupload/jquery.fileupload.js"></script>
<script src="./js/common.js"></script>
<script src="./js/category.js"></script>
<script type="text/html" id='tmp-info'>
    {{each list v i}}
      <tr>
        <td>{{v.id}}</td>
        <td>{{v.proName}}</td>
        <td>{{v.proDesc}}</td>
        <td>{{v.num}}</td>
        <td>{{v.size}}</td>
        <td>{{if v.statu==1}}已上架{{else}}已下架{{/if}}</td>
        <td><button class="btn {{if v.statu==1}}btn-danger{{else}}btn-success{{/if}}">{{if v.statu==1}}下架{{else}}上架{{/if}}</button></td>
      </tr>
    {{/each}}
</script>

<script type="text/html" id='tmp-category'>
    {{each list v i}}
        <li><a data-id={{v.id}} data-name={{v.brandName}} href="#">{{v.brandName}}</a></li>
    {{/each}}
</script>
</body>
</html>