body,
div,
ul,
li,
h1,
h2,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
}
body {
  font-size: 14px;
  color: #333;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  height: 100%;
  padding: 50px 0 60px 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #333;
}
em,
i {
  font-style: normal;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.tab-focus {
  text-decoration: none;
}
.lt-wrap {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
}
.lt-wrap .lt-header,
.lt-wrap .lt-footer {
  text-align: center;
  width: 100%;
  line-height: 50px;
  position: absolute;
  background-color: #006699;
  z-index: 5;
}
.lt-wrap .lt-header {
  width: 100%;
  color: #fff;
  font-size: 20px;
  top: 0;
}
.lt-wrap .lt-header a {
  color: #fff;
  font-size: 20px;
}
.lt-wrap .lt-header .header-home,
.lt-wrap .lt-header .header-search,
.lt-wrap .lt-header .header-back,
.lt-wrap .lt-header .header-refresh {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}
.lt-wrap .lt-header .header-home,
.lt-wrap .lt-header .header-back {
  left: 0;
}
.lt-wrap .lt-header .header-search,
.lt-wrap .lt-header .header-refresh {
  right: 0;
}
.lt-wrap .lt-header .header-title {
  width: 100%;
}
.lt-wrap .lt-footer {
  width: 100%;
  line-height: 30px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 18px;
}
.lt-wrap .lt-footer p,
.lt-wrap .lt-footer i {
  color: #fff;
}
.lt-wrap .lt-footer .active p,
.lt-wrap .lt-footer .active i {
  color: orange;
}
.lt-wrap .lt-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt-content {
  background: #fff;
}
.lt-content .menu {
  margin-right: 10px;
}
.lt-content .menu ul {
  width: 100px;
}
.lt-content .menu li {
  background-color: #E3E4E5;
  padding: 10px 20px;
  font-size: 18px;
  color: #333;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.lt-content .menu li.active {
  background-color: #fff;
}
.lt-content .photo {
  overflow: hidden;
}
.lt-content .photo ul li {
  width: 70px;
  margin: 10px;
  float: left;
}
.lt-content .photo ul li a {
  width: 100%;
}
.lt-content .photo ul li a img {
  width: 100%;
}
