body,
div,
ul,
li,
h1,
h2,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
}
body {
  font-size: 14px;
  color: #333;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  height: 100%;
  padding: 50px 0 60px 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #333;
}
em,
i {
  font-style: normal;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.tab-focus {
  text-decoration: none;
}
.lt-wrap {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
}
.lt-wrap .lt-header,
.lt-wrap .lt-footer {
  text-align: center;
  width: 100%;
  line-height: 50px;
  position: absolute;
  background-color: #006699;
  z-index: 5;
}
.lt-wrap .lt-header {
  width: 100%;
  color: #fff;
  font-size: 20px;
  top: 0;
}
.lt-wrap .lt-header a {
  color: #fff;
  font-size: 20px;
}
.lt-wrap .lt-header .header-home,
.lt-wrap .lt-header .header-search,
.lt-wrap .lt-header .header-back,
.lt-wrap .lt-header .header-refresh {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}
.lt-wrap .lt-header .header-home,
.lt-wrap .lt-header .header-back {
  left: 0;
}
.lt-wrap .lt-header .header-search,
.lt-wrap .lt-header .header-refresh {
  right: 0;
}
.lt-wrap .lt-header .header-title {
  width: 100%;
}
.lt-wrap .lt-footer {
  width: 100%;
  line-height: 30px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 18px;
}
.lt-wrap .lt-footer p,
.lt-wrap .lt-footer i {
  color: #fff;
}
.lt-wrap .lt-footer .active p,
.lt-wrap .lt-footer .active i {
  color: orange;
}
.lt-wrap .lt-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt-content {
  background-color: #fff;
  padding: 0 20px;
}
.lt-content .search-word {
  text-align: center;
  padding: 0 10px;
  margin: 10px 0 10px 0;
  position: relative;
}
.lt-content .search-word input {
  height: 33px;
  width: 95%;
  font-size: 16px;
}
.lt-content .search-word button {
  position: absolute;
  top: 0;
  right: 20px;
}
.lt-content .search-history {
  padding: 0 22px;
}
.lt-content .search-history ul {
  margin-top: 10px;
  width: 100%;
  border-top: 1px dotted orangered;
  border-right: 1px dotted orangered;
  border-left: 1px dotted orangered;
}
.lt-content .search-history ul li {
  padding-left: 10px;
  width: 100%;
  border-bottom: 1px dotted orangered;
}
.lt-content .search-history ul li i {
  margin: 3px 5px 0 0;
}
